<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>lec02</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Lec02!</h1>
  <div>
    <p th:if="${login_user}">Hi [[${login_user}]]</p>
  </div>
  <h1>エントリー</h1>
  <p th:if="${Users}">
  <div th:each="user,stat:${Users}">
    <ul>
      <li><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
    </ul>
  </div>
  </p>
  <h1>アクティブな試合</h1>
  <p th:if="${matchinfo}">
  <div th:each="matchinfo,stat:${matchinfos}">
    <tr>
      <td>ID:[[${matchinfo.id}]]</td>
      <td>ユーザ1(ID):[[${matchinfo.user1}]]</td>
      <td>ユーザ2(ID):[[${matchinfo.user2}]]</td>
      <td>isActive:[[${matchinfo.isActive}]]</td>


    </tr>
  </div>
  </p>
  <h1>試合結果</h1>
  <p th:if="${Matches}">
  <div th:each="match,stat:${Matches}">
    <tr>
      <td>ID:[[${match.id}]]</td>
      <td>ユーザ1(ID):[[${match.user1}]]</td>
      <td>ユーザ2(ID):[[${match.user2}]]</td>
      <td>ユーザ1の手:[[${match.user1Hand}]]</td>
      <td>ユーザ2の手:[[${match.user2Hand}]]</td>
    </tr>
  </div>
  </p>
</body>

</html>
