<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>lec02</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>

  <h1>Lec02!</h1>
  <div th:if="${room}">
    エントリー
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <div>
    <p th:if="${login_user}">Hi [[${login_user}]]</p>
  </div>
  <a href="/lec02janken?hand=gu">ぐー</a>
  <a href="/lec02janken?hand=choki">ちょき</a>
  <a href="/lec02janken?hand=pa">ぱー</a>
  <div th:if="${hand}">
    <p>あなたの手 [[${hand}]]</p>
    <p>相手の手 [[${cpuhand}]]</p>
    <p>結果 YOU [[${result}]]</p>
  </div>
</body>

</html>
